<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <title>My Project</title>
    <base href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          My Project
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li data-match-route="/explore"><a href="/explore">Explore</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Drop me down
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a target="_blank" href="#">Item 1</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
              USERNAME
              <img src="" class="img-rounded"/>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a target="_self" href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div ng-view></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-beta.8/angular.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-beta.8/angular-animate.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-beta.8/angular-cookies.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-beta.8/angular-resource.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-beta.8/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.3.0-beta.8/angular-sanitize.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>

  </body>
</html>
